@page "/codegenerator"

<PageTitle>Code Generator for Data Access</PageTitle>

<h1>Code Generator for Data Access Code</h1>

<select id="connections" @bind="SelectedConnection">
    @foreach (var item in _viewModel?.AvailableConnections!)
    {
        <option value="@item.ConnectionStringName">@item.ConnectionStringName</option>
    }
</select>

<p id="selectedConnection">@SelectedConnection</p>

