@page "/codegenerator"

<PageTitle>Code Generator for Data Access</PageTitle>

<h1>Code Generator for Data Access Code</h1>

<div class="generator">
	
	<div class="generator__objectSelection">
		<select id="connections" @bind="SelectedConnection">
			@foreach (var item in _viewModel?.AvailableConnections!)
			{
				<option value="@item.ConnectionStringName">@item.ConnectionStringName</option>
			}
		</select>
		<br>

		@if (_viewModel.DatabaseObjects.Length == 0)
		{
			<p>No items found</p>
		}
		else
		{
			<select id="databaseObjects" @bind="SelectedObject">
				@foreach (var item in _viewModel.DatabaseObjects)
				{
					<option value="@item.Fullname">@(item.Fullname)</option>
				}
			</select>
		}
	</div>

	<div class="generator__codeSection">
		<textarea class="codeeditor" @bind="_viewModel.GeneratedCode"></textarea>
	</div>

</div>